@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Kalam&display=swap');

*{
    font-family: 'Jacques Francois', serif;
}
/*Background*/
.background-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-color: #0f0f0f;    
}
.up-bars, .bottom-bars{
  position: absolute;
  width: 100%;      
}
.up-bars {     
  top: 8%;
}

.bottom-bars{
  bottom: 8%;
}

.form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

/*Login*/

.section-login{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.logo-login{
  width: 520px;
  height: 420px;
}

.input-login{
  font-size: 35px;
  width: 380px;
  height: 90px;
  border-radius: 15px;
  padding: 10px 0px 10px 60px;
  margin: 20px
}

.error-message{
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(152, 10, 10);
  justify-content: center;
  margin-top:-18px;
}

.submit-btn {
  font-family: 'Jacques Francois', serif;
  font-size: 40px;
  background: #9A601B;
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  height: 60px;
  padding: 40px 60px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.submit-btn:hover {
  background: #d89542;

}

.email-icon, .password-icon{
  font-size: 30px;
  position: absolute;
  margin: 50px 40px;
}

/* Logout */

.btn-logout-container{

  border: 1px solid red;
  display: flex;
  background-color: white;
  color: black;
  width: 20%;
  height: 50px;
}

.btn-logout{
  width: 5px;
  height: 5px;
}

@media (min-width: 835px) {
  .login-container{  
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
