@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Kalam&display=swap');

*{
    font-family: 'Jacques Francois', serif;
}
/*Background*/
.background-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-color: #0f0f0f;    
}
.up-bars, .bottom-bars{
  position: absolute;
  width: 100%;      
}
.up-bars {     
  top: 8%;
}

.bottom-bars{
  bottom: 8%;
}

.form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

/*Login*/

.section-login{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.logo-login{
  width: 520px;
  height: 420px;
}

.input-login{
  font-size: 35px;
  width: 380px;
  height: 90px;
  border-radius: 15px;
  padding: 10px 0px 10px 60px;
  margin: 20px
}

.error-message{
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(152, 10, 10);
  justify-content: center;
  margin:-18px 0px -12px 0px;
  text-shadow: rgb(139, 0, 0) 0.0em 0.0em 0.1em
}

.submit-btn, .btn-send-order {
  font-family: 'Jacques Francois', serif;
  font-size: 40px;
  background: #9A601B;
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  height: 60px;
  padding: 40px 60px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.submit-btn:hover {
  background: #d89542;

}

.email-icon, .password-icon{
  font-size: 30px;
  position: absolute;
  margin: 50px 40px;
}

/* NavBar */

.logo-wall{
  position: absolute;
  top: 5px;
  left: 36px;
  width: 260px;
  height: 210px;
  
}

.btn-navBar{  
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  height: 60px;
  width: 130px;
  font-size: 20px;
  margin-right: 10px;
  position: relative;

}

.btn-admin {
  background-color: #D9D9D9;
  height: 60px;
  width: 70px;
  border-radius: 10px;
  margin-right: 10px;
}

.navBar-icon{
  font-size: 35px;
  padding-right: 6px;
  margin-left: 8px;
}

.container-btns{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 12px;
  margin-top: 25px;
}

/* Menu */

.btn-add-product{
  border: none; 
  background-color: #D68C1C;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -25px;
  right: -20px;
  display:flex;
  align-items: center;
  justify-content: center;
}



.name-client-input{
  border-radius: 15px;
  width: 290px;
  height: 50px;
  margin-top: 8px;
  padding-left: 15px;
}

.name-client-label{
  font-size: 25px;
  margin-left: 10px;
}
.client-name-error{
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(152, 10, 10);
  text-shadow: rgb(139, 0, 0) 0.0em 0.0em 0.1em
}
.container-name{
  color: white;
  position: absolute;
  top: 150px;
  left: 450px;  
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
}

.container-category, .container-status-chef{
  display: flex;
  margin-top: 25%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container-status-chef{
  margin-top:8%;
  margin-left: 30%;
  flex-direction: column;
  gap: 30px;
}

.btn-lunch, .btn-breakfast, .btn-pending, .btn-delivering{
  border-radius: 15px;
  width: 250px;
  height: 50px;
  margin: 0px 5px;
  background-color: #706F6F;
  font-size: 20px;
  font-weight: bold;
}

.btn-breakfast, .btn-pending{
  margin-left: 15px;
}

.container-products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  width: 100vw;  
  height: 60vh;
  overflow: auto;  
}
.card-product{ 
  margin: 30px 30px; 
  font-size: 25px;
  background-color: white;  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  position: relative;
}

.img-container{
  border-radius: 20px;
  border:2px solid rgb(0, 0, 0);
  width:90%;
  height: 60%;
}

.product-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.selected{
  background-color: #D68C1C;
}

/* orders */

.no-products-message{
  color:#706F6F;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.count-products{
  background-color: #D68C1C;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  left: 105px;  
}

.order-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  width: 100vw;  
  height: 45vh;
  overflow: auto;  
}

.status-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  width: 100vw;  
  height: 70vh;
  overflow: auto;  
}

.delete-icon{
  color: white;
  position: absolute;
  right: 20px;
}

.icon-close-order, .icon-close-status{
  position: absolute;
  top: 13px;
  right: 20px;
  color:white;
  font-size: 60px;    
}

.order-title, .status-title{
  margin-top: 25px;
  font-size: 45px;
  color:white;
}
.container-name-client-order{
  display:flex;
  width: 90%;
  margin: 40px 0 20px 0;
}
.name-client-order{
  font-size: 38px;
  color: white;
}
.titles-orders-table, .titles-status-table{
  font-size: 30px;
}
.section-orders, .section-status{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.orders-title-table, .status-title-table{
  width: 90%;
}

.status-title-table{
  margin-top: 50px;
}

.orders-content-table, .status-content-table{
  margin-top: 50px;
  width: 90%;
  font-size: 30px;
}

.order-celd1, .order-celd2, .order-celd3, .status-celd1, .status-celd3 {
  background-color:#9A601B;
  color: black;
  text-align: center;
  width:30%;
}

.order-celd1, .status-celd1{
  border-radius: 13px 0 0 13px;
}
.order-celd3, .status-celd3{
  border-radius: 0 13px 13px 0;
}
.hidden{
  display: none;
}

.order-celd4, .order-celd5, .order-celd6, .order-celd-total, .status-celd5, .status-celd4 {
  color: white;
  text-align: center;
  width:30%;
}

.status-celd4 {
  border-right: 2px solid #d89542;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

}
.tr-status-order{
  display: flex;
}
.status-celd5{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;  
}
.order-celd5 {
  border-left: 2px solid #d89542;
  border-right: 2px solid #d89542;
}
.order-celd6{
  position: relative;
}
.qty-span{
  margin: 0 40px;
}
.order-celd-total{
  color: #D68C1C;
  border-radius: 15px;
  font-size: 45px;
}

.plus-icon, .minus-icon{
  color:#D68C1C;
}

.no-orders-message-waiter{
  color: #706F6F;
  font-size: 30px;
}
/* Modal */
.icon-close-modal-order{
  color: black;
  position: absolute;
  font-size: 45px;
  top: 5px;
  right: 5px;
 
}
.background-modal{
  height: 100vh;
  width: 100vw;
  top:0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content:center ;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.9); ;
}
.modal-order{
  background-color: white;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
  flex-direction: column;
}
.icons-modal-order{
  font-size: 40px;
}

/*Status*/

.container-status-order{
  background-color: white;
  color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px 5px;
  width: 80%;
  font-size: 25px;
  position: relative;
  margin: 8px 0;
}
.order-num{
  position: absolute;
  background-color: #D9D9D9;
  top: -26px;
  right:10px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 18px 18px 0 0;
  z-index: -1;
}
.container-status{
  display: flex;
}

.ready-to-deliver-column,.delivered-column{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.ready-to-deliver-column{
 border-right: 2px solid #D68C1C;
}

.ready-to-deliver-row,.delivered-row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0

}

/* Chef view */
.container-chef-orders{
  margin-top: 10px;
  width: 100vw;
  height: 65vh;
  display:flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  overflow: auto;  
  flex-direction: column;
  gap: 20px;
}

.icon-check-status{
  margin-top: 8px;
  font-size: 40px;
}

.card-order-chef{
  background-color: white;
  width: 80%;
  border-radius: 15px;
  padding: 25px 50px;
  font-size: 25px;
  position: relative;
  margin: 20px 0;
}

.check-and-hour{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 10%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-check-status-chef{
  font-size: 70px;
  margin-bottom: 30px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.hour{
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.client-name-chef-orders{
  font-size: 30px;
  font-weight: bold;
}

.no-orders-message{
  color: #706F6F;
  font-size: 30px;
  justify-content: center;
  width: 100vw;
  height: 65vh;
  display:flex;
  align-items: center;  
}


@media (min-width: 835px) {
  .login-container{  
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;  
  }

  .container-btns{
    margin-right: 12px;
    margin-top: 15px;
  }

  .btn-navBar{     
    height: 50px;
    width: 120px;  
  }

  .container-name{
    top: 260px;
    left: 110px;
    align-items: start;
  }


  .name-client-input{
    width: 245px;
    height: 55px;
    margin-top: 5px;
  }

  .container-category, .container-status-chef{
    position: absolute;
    top: 360px;
    left: 110px; 
    display:flex;
    flex-direction: column;
    color: white;
    align-items: start;
    margin-top:5%;
  }
  .container-status-chef{
    position: absolute;
    top: 250px;
    left: -300px;     
  }
  .container-btns-chef{
    display:flex;
    flex-direction: column;
  }
  .btn-lunch, .btn-breakfast, .btn-pending, .btn-delivering{
    border-radius: 15px;
    width: 245px;
    height: 55px;
    margin: 8px 0px;
  }
  
  .btn-admin {
    height: 50px;
  } 

  .count-products{
    top: -10px;
    left: 95px;  
  }

  .container-products{   
    height: 70vh;
    margin-left: 40%;  
  }

  .section-menu{
    height: 100vh;
    margin-top: -65px;
    display: flex;
    align-items: center;
  }  

  .order-container{
    height: 27vh;
  }

  .status-container{
    height: 60vh;   
  }

  .container-chef-orders{
    margin-top: 60px;
    margin-left: 35%;
    width: 60vw;
    height: 70vh;
  }

  /* Chef view */
  .no-orders-message{
    margin-top: 60px;
    margin-left: 25%;
    width: 30vw;
    height: 55vh;
  }
}
